@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria Regular"),
    local("Geometria-Regular"),
    url("../fonts/Geometria.woff2") format("woff2"),
    url("../fonts/Geometria.woff") format("woff");
    
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 700;
  src: local("Geometria Bold"),
    local("Geometria-Bold"),
    url("../fonts/Geometria-bold.woff2") format("woff2"),
    url("../fonts/Geometria-Bold.woff") format("woff");
    
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 800;
  src: local("Geometria Extrabold"),
    local("Geometria-Extrabold"),      
    url("../fonts/Geometria-ExtraBold.woff") format("woff");      
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Geometria', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #0c235a;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.in_styles h2 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  color: #021b54;
  text-transform: uppercase;
}

.in_styles h3 {
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 25px;
}

.in_main-header {
  padding-top: 88px;
  background-image: url('../img/main_banner_bg.jpg');
  background-color: #243867;
  background-position: 100%;
  background-size: cover;
}

.in_main-header .container {
  height: 672px;
}

.in_header,
.in_header-contacts {
  display: flex;
  align-items: center;
}

.in_header-contacts {
  flex-grow: 1;
}

.in_header-logo {
  margin-right: 40px;
}

.in_header-call {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.in_header-phone {
  margin-bottom: 13px;
  font-weight: 800;
  color: #fff;
}

.in_header-btn {
  padding: 6px 15px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
}

.in_header-btn:hover {
	background-color: red;
}

.in_header-map {
  color: #fff;
  text-decoration: underline;
}

.in_header-map::before {
  content: '';
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 50px;
  background-color: #fff;
}

.in_header-map:hover {
	text-decoration: none;
}

.in_main-menu-list {
  max-width: 425px;
  min-height: 55px;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.in_main-menu-item {
	position: relative;
  min-width: 140px;
  height: 20px;
}

.in_main-menu-item:nth-child(1) {
	margin-bottom: 15px;
}

.in_main-menu-item:nth-child(1)::after,
.in_main-menu-item:nth-child(2)::after,
.in_main-menu-item:nth-child(3)::after {
	content: '';
	position: absolute;
	top: 5px;
	right: 20px;
	width: 1px;
	height: 48px;
	background-color: #fff;
}

.in_main-menu-item a {
  font-weight: 800;
  color: #fff;
}

.in_main-menu-item a:hover {
	text-decoration: underline;
}

.in_header-search {
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.in_search-btn {
  position: relative;
  padding-right: 20px;
  font-weight: 800;
  color: #fff;
  
}
.in_search-btn::after {
  position: absolute;
  top: 5px;
  right: 2px;
  content: '';
  width: 12px;
  height: 13px;
  background-image: url('../img/icon-search.png');
  background-repeat: no-repeat;
}

.in_header-social {
  padding-left: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.in_header-social-item {
  margin-right: 12px;
}

.in_main-banner {
  height: 100%;
  background-image: url('../img/main-banner-img.png');
  background-repeat: no-repeat;
  background-position: center 20%;
}

.in_package {
  padding: 65px 0;
}

.in_package h2 {
  margin-bottom: 42px;
}

.in_package-list {
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.in_package-list-item {
  flex-basis: 11%;
}

.in_package-list-item:hover{
  text-decoration: underline;
}

.in_package-list-item a {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #021b54;
  text-align: center;
}

.in_package-list-item img {
  display: block;
  margin: auto;
  margin-bottom: 23px;
  height: 110px;
}

.in_middle-block {
  padding: 70px 0 75px 0;  
  background-repeat: no-repeat;
}

.in_politic {background-image: url('../img/politic_bg.jpg'); margin-bottom: 65px;}
.in_tehnology {background-image: url('../img/tehnology_bg.jpg');}

.in_middle-content {
  padding-left: 16%;
  margin: auto;
  max-width: 780px;
  background-repeat: no-repeat;
}

.in_politic .in_middle-content{background-image: url('../img/icon-politic.png');}
.in_tehnology .in_middle-content{background-image: url('../img/icon-tehnology.png');}

.in_middle-content h2 {
  margin-bottom: 35px;
  color: #fff;
}

.in_middle-content p {
  margin: 0;
  margin-bottom: 23px;
  line-height: 20px;
  color: #fff;
}

.in_arrow-btn {
  font-size: 21px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.in_arrow-btn::before {
  content: '';
  
}

.in_stories {
  margin-bottom: 45px;
}

.in_stories h2 {
  margin-bottom: 50px;
}

.in_stories-list,
.in_team-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.in_stories-slide,
.in_team-slide {
  outline: none;
}

.in_stories-item,
.in_team-item { 
	position: relative;	
	padding: 20px;
}

.in_stories-item-wrapper,
.in_team-item-wrapper {	
	display: flex;
	justify-content: flex-end;		
}

.in_stories-item-wrapper {
	min-height: 283px;
	padding: 20px 30px 0 0;
}

.in_team-item-wrapper {
	height: 210px;
	padding: 35px 10px 35px 0;
	background-color: #f9f9f9;
}

h3.in_stories-title {
	font-size: 22px;
}

.in_stories-txt a{
	color: #6fa7f7;
}

.slick-active +  .slick-active .in_stories-item-wrapper {
	background-color: #f9f9f9;
}

.in_stories-txt,
.in_team-txt {
	width: 50%;
}

.in_stories-img,
.in_team-img {
	position: absolute;
	width: 42%;
	top: 0;
	left: 0;
}

.in_stories-img img,
.in_team-img img {
	width: 100%;
}

.in_works-list {
	height: 400px;
	padding-left: 0;
	margin: 0;	
	list-style: none;
	border-left: 2px solid #e5e5e5;
}

.in_works-item {
	max-width: 480px;
	display: flex;	
	align-items: flex-start;
	border-bottom: 17px solid #e5e5e5;
}

.in_works-img {
	position: relative;
	height: 150px;
	margin-right: 35px;
	border-right: 2px solid #e5e5e5;
}

.in_works-num {
	position: absolute;
	font-size: 132px;
	font-weight: 800;
	color: #e5e5e5;
}

.in_work-steps h2 {
	margin-bottom: 115px;
}

.in_works-title {
	margin-top: 0;
	padding-right: 22px; 
}

.in_works-txt p {
	margin-bottom: 0;
}

.in_team h2 {
	margin-bottom: 45px;
}

h3.in_team-title {
	margin-top: 0;
	padding-right: 45px;
	font-size: 22px;
	line-height: 27px;
}

.in_team-status {
	min-height: 75px;
	font-size: 14px;
}

.in_team-phone {
	color: #021b54;
	text-decoration: none;
}

.in_team-mail {
	color: #021b54;
	border-bottom: 1px solid #021b54;
}

.in_team-mail:hover {
	border-bottom: 1px solid transparent;
}

/* SLIDER STYLES */

.in_stories-list .slick-dots li button:before {
	font-size: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #021b54;
	opacity: 1;
}

.in_stories-list .slick-dots li.slick-active button:before {
	background-color: #021b54;
	opacity: 1;
}

@media (max-width: 1080px) {
	h3.in_stories-title {
		font-size: 20px;
	}
	.in_stories-txt p {
		font-size: 14px;
	}
}

@media (max-width: 750px) {
  .container {
    padding: 0 60px;
  }

  .in_main-header {
    position: relative;
    padding-top: 25px;
  }

  .in_header-logo img {
    width: 180px;
    height: 62px;
  }

  .in_main-menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
    max-width: 100%;
    background-color: #fff;
  }

  .in_main-menu-item a {
    color: #021b54;
  }

  .in_stories-item-wrapper {
  	min-height: 260px;
  	background-color: #f9f9f9;
  }

  .in_stories-list .slick-arrow {
  	top: 100%;
  	width: 65px;
  	height: 20px;
  	z-index: 10;
  }

  .in_stories-list .slick-arrow::before {
  	content: '';
  	display: block;
  	width: 100%;
  	height: 100%;
  	background-repeat: no-repeat;
  }

  .in_stories-list .slick-prev::before {  	
  	background-image: url('../img/arrow-left.png');  	
  }

  .in_stories-list .slick-prev {
  	left: 0;
  }

  .in_stories-list .slick-next::before {
  	background-image: url('../img/arrow-right.png');
  }

  .in_stories-list .slick-next {
  	right: 20px;
  }
}

@media (max-width: 530px) { 
	.container {
		padding: 0 35px;
	}

	.in_stories h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.in_stories-item,
	.in_stories-item-wrapper {
		padding: 0;
	}

	.in_stories-item-wrapper {
		flex-direction: column;
	}

	.in_stories-img,
	.in_stories-txt {
		position: relative;
		width: 100%;
	}

	.in_stories-txt {
		box-sizing: border-box;
		padding: 20px 25px;
	}

	h3.in_stories-title {
		margin-top: 0;
	}	
}